html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 30px;
}

.h1__br {
    display: none;
}

h1:hover {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

section#about {
    text-align: center;
    font-size: 1em;
}

section#links {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    font-size: 1em;
}

section#links p {
    padding: 20px;
    margin: 0;
    color: #fff;
}

section#links p a {
    color: black;
    text-decoration: none;
}

section#links p:hover a {
    text-decoration: underline;
}

.warning-asterisk {
    color: #f00;
}

section#warning {
    margin-top: 50px;
    font-size: 0.8em;
}

@media screen and (max-width: 720px) {
    .h1__br {
        display: initial;
    }
    section#links {
        flex-direction: column;
    }
}
